* {
  box-sizing: border-box;
}

.park {
  margin: 16px;
  border: 2px dashed yellow;
  overflow: hidden;
  border-radius: 8px;
  background-color: lightgoldenrodyellow;
}

.animal {
  padding: 16px;
  font-size: 32px;
}

/*
  The giraffe is afraid of the crocodile and the dino.
   - center the giraffe in the park
   - align the dino to the right

  💡 Select the animals by their class name and use the text align property.
*/

.giraffe {
  text-align: center;
}

.dino {
  text-align: right;
}

.giraffe:hover {
  background-color: lightgreen;
}

.crocodile:hover {
  background-color: lightblue;
}

.dino:hover {
  background-color: lightsalmon;
}
